body {
    text-align: center;
}

.sign-in {
    width : 450px;
    height : auto;
    margin-top:200px;
    /* place-content: center; */
}

.sign-in .sign-in-header {
    display: flex;
    flex-direction: row;
    width : 358px;
    height: 80px;
    gap: 19px;
    margin:0px;
    margin: auto;
}

.sign-in .sign-in-form {
    width :430px;
    height : auto;
    margin: auto;
    margin-top:50px;
    font:var(--font-family-arial-regular);
}

.sign-in .sign-in-form input {
    width : 430px;
    height : 50px;
    border-radius: 8px;
    border: 1px solid var(--fooding-gray);
    font-size : 16px;
    margin-bottom:20px;
    padding-left:21px;
}


.sign-in .sign-in-form input::placeholder{
    color: var(--fooding-gray);
}

.sign-in .sign-in-form button{
    width : 430px;
    height : 50px;
    border-radius : 8px;
    background-color: var(--fooding-base3);
    color:white;
    margin-top:50px;
    border: none;
}

.sign-in .line{
    margin-top: 50px;
    margin-bottom: 24px;
}

.sign-in .sign-in-tail{
    place-content: center;
    display: flex;
    flex-direction: row;
}

.sign-in .sign-in-tail div{
    color:var(--fooding-gray);
}

.sign-in .sign-in-tail a{
    margin-left: 10px;
    color:var(--fooding-base3);
}

#guestButton {
    width : 430px;
    height : 50px;
    border-radius : 8px;
    background-color: var(--fooding-base5);
    color:white;
    margin-top:24px;
    border: none;
}

