.body {
    text-align: center;
}

.body h1 {
    width: 900px;
    margin: 0 auto;
}

.body .main {
    font-family: var(--font-family-oleo_script);
    font-size: 48px;
    font-weight: bold;
    color: var(--fooding-red);
    margin-top: 180px;
}

.body .sub {
    font-family: var(--font-family-oleo_script);
    font-size: 48px;
    font-weight: bold;
    color: var(--fooding-base2);
    margin-top: 48px;
}

.home-button {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: solid var(--fooding-base2) 1px;
    width: 271px;
    height: 50px;
    margin: 87px auto;
    align-items: center;
    background-color: var(--fooding-white);
    font-family: var(--font-family-nanum_gothic);
    font-size: 14px;
    font-weight: normal;
    color: var(--fooding-base3);
    padding-left: 40px;
}

.home-button:hover {
    background-color: var(--fooding-base3);
    color: var(--fooding-white);
    cursor: pointer;
}