.contents {
    margin-top: 82px;
    margin-left: 142px;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

#map {
    width: 684px;
    height: 619px;
}

.pick-up {
    width: 402px;
    height: 619px;
    background-color: white;
    animation-duration: 1s;
    animation-name: slideout;
}

@keyframes slideout {
    from {
        margin-left: 50px;
    }

    to {
        margin-left: 0px;
    }
}

.pick-up-location-nearby {
    font-family: var(--font-family-nanum_gothic);
    font-size: 32px;
    color: var(--fooding-base3);
    font-weight: bold;
    text-align: center;
}

.line-3 {
    width: 100%;
    height: 2px;
    background-color: var(--fooding-base3);
    margin-top: 19px;
}

.pick-up-list-cell {
    width: 100%;
    height: 76px;
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px var(--fooding-base4)
}

.place {
    font-family: var(--font-family-nanum_gothic);
    font-size: 20px;
    color: var(--fooding-black);
}

.lunch-boxes {
    font-family: var(--font-family-nanum_gothic);
    font-size: 12px;
    color: var(--fooding-black);
    margin-left: 25px;
}

.select-school {
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    width: 80px;
    height: 32px;
    border: solid 1px var(--fooding-orange2);
    border-radius: 20px;
    line-height: 100%;
    text-align: center;
    font-family: var(--font-family-nanum_gothic);
    font-size: 14px;
    color: var(--fooding-orange2);
}

.select-school:hover {
    background-color: var(--fooding-orange1);
    color: var(--fooding-white);
    cursor: pointer;
}

/* 'select 버튼 클릭시 나타나게 할 팝업 화면 제작' */
.select-box {
    width: 402px;
    height: 619px;
    background-color: var(--fooding-blue);
    display: none;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 50px;
        /* width: 100% */
    }

    to {
        margin-left: 0px;
        /* width: 100%; */
    }
}

.goto-back {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 22px;
    margin-top: 17px;
    margin-left: 16px;
}

.back-button {
    width: 6px;
    height: 12px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 9px;
}

.back-to-list {
    width: 100px;
    height: 16px;
    font-family: var(--font-family-nanum_gothic);
    font-size: 14px;
    color: var(--fooding-base2);
    text-align: left;
    align-self: center;
    background-color: var(--fooding-blue);
    border: none;
    padding: 0px;
    cursor: pointer;
}

.school-name {
    font-family: var(--font-family-nanum_gothic);
    font-size: 28px;
    color: var(--fooding-base1);
    margin-top: 28px;
    margin-left: 21px;
}

.lunch-boxes-left {
    font-family: var(--font-family-nanum_gothic);
    font-size: 14px;
    color: var(--fooding-base1);
    margin-top: 18px;
    margin-left: 63px;
}

.distance {
    font-family: var(--font-family-nanum_gothic);
    font-size: 14px;
    color: var(--fooding-base1);
    margin-top: 18px;
    margin-left: 63px;
}

.menu-title {
    font-family: var(--font-family-nanum_gothic);
    font-size: 14px;
    color: var(--fooding-base1);
    margin-top: 47px;
    margin-left: 149px;
}

.menu-image {
    width: 292px;
    height: 237px;
    margin: 16px 55px 0px 55px;
}

.select-btn {
    width: 220px;
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 43px;
    margin-left: 91px;
    gap: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px var(--fooding-base3);
    border-radius: 20px;
    cursor: pointer;
}

.select-btn-title {
    margin-left: 30px;
    font-family: var(--font-family-nanum_gothic);
    font-size: 14px;
    color: var(--fooding-base3);
}

.right-toggle {
    width: 8px;
    height: 16px;
}